:root {
  --header-height: 5rem;
  --dark-color: #000000;
  --grey-color: #666666;
  --light-grey-color: #c4c4c4;
  --accent-color: #664bff;
}

* {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}
