.modal {
  width: 300px;
}

.logInTitle {
  margin-bottom: 1.5rem;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.signOutButton {
  margin-top: 24px;
  align-self: right;
}

.emailLabel,
.otpLabel {
  display: block;
  font-size: 14px;
  line-height: 18px;
}

.emailInput,
.otpInput {
  border: solid 1px black;
  border-radius: 4px;
  padding: 4px 6px;
  margin-top: 2px;
  width: 100%;
}

.emailSubmitButton,
.otpSubmitButton {
  margin-top: 20px;
}

.otpSentDescription,
.loggedInAs {
  font-size: 16px;
  line-height: 20px;
}

.otpError {
  margin-top: 4px;
  color: red;
  font-size: 12px;
  line-height: 16px;
}
