.main {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLink,
.logoLink:hover,
.logoLink:focus {
  position: relative;
  text-decoration: none;
  line-height: 14px;
  font-size: 16px;
  padding: 0 0.25rem;
  font-weight: 500;
}

.tellMeAbout {
  color: var(--dark-color);
}

.yourself {
  color: var(--accent-color);
}

.tell:hover,
.me:hover,
.about:hover {
  color: var(--accent-color);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar > *:not(:last-child) {
  margin-right: 1.5rem;
}

.navbarLink {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--dark-color);
  border: none;
  background: none;
  cursor: pointer;
}

.navbarLink:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 600px) {
  .navbar > *:not(:last-child) {
    margin-right: 3rem;
  }
}
