.main {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLink,
.logoLink:hover,
.logoLink:focus {
  position: relative;
  text-decoration: none;
  line-height: 14px;
  font-size: 16px;
  padding: 0 0.25rem;
  font-weight: 500;
}

.tellMeAbout {
  color: var(--dark-color);
}

.yourself {
  color: var(--accent-color);
}

.tell,
.me,
.about {
  transition: color 1s ease-in-out;
}

.tell:hover,
.me:hover,
.about:hover {
  color: var(--accent-color);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar > *:not(:last-child) {
  margin-right: 1.5rem;
}

.logInButton {
  display: flex;
  justify-content: center;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 500;
  color: var(--grey-color);
  border: none;
  background: none;
  cursor: pointer;
}

.logInButton:hover {
  color: black;
}

@media screen and (min-width: 600px) {
  .navbar > *:not(:last-child) {
    margin-right: 3rem;
  }
}
