.main {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLink,
.logoLink:hover,
.logoLink:focus {
  position: relative;
  text-decoration: none;
  line-height: 14px;
  font-size: 16px;
  padding: 0 0.25rem;
}

.tellMeAbout {
  color: var(--dark-color);
}

.yourself {
  color: var(--accent-color);
}

.tell,
.me,
.about {
  transition: color 1s ease-in-out;
}

.tell:hover,
.me:hover,
.about:hover {
  color: var(--accent-color);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar > *:not(:last-child) {
  margin-right: 3rem;
}
