.main {
  position: relative;
}

.menu {
  position: relative;
}

.menuButton {
  display: flex;
  color: var(--dark-color);
  border: none;
  background: none;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
}

.menuItems {
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  padding: 0.25rem;
  width: 10rem;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
  background-color: white;
}

.menuItem {
  color: #111827;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.languageIcon {
  width: 1.25rem;
  height: 1.25rem;
}

@media (hover: hover) {
  .menuItem:hover {
    background-color: rgb(242, 242, 242);
  }

  .languageIcon:hover {
    color: var(--accent-color);
  }
}
