.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.prompt {
  padding: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  text-wrap: balance;
  background: linear-gradient(to right, rgb(75, 101, 255), rgb(150, 75, 255));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.questionChanging .prompt {
  animation: promptAnimation 0.5s ease-in-out;
  transform-origin: center center;
}

.changeQuestionButton {
  margin-top: 6rem;
  box-shadow: rgba(102, 75, 255, 2.25) 0px 0px 140px 0px;
}

@keyframes promptAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
