.pageContainer {
  padding-top: 24px;
  padding-bottom: 24px;
}

.questionPrompt {
  margin-bottom: 40px;
}

.tipsTitle,
.noteTitle {
  margin-bottom: 16px;
}

.tipsContent {
  margin-bottom: 40px;
}

.tipsList {
  list-style-type: none;
}

.tipsListItem {
  display: flex;
}

.tipsListItem:not(:last-child) {
  margin-bottom: 8px;
}

.tipsIcon {
  margin-right: 6px;
  width: 16px;
  height: 16px;
  padding-top: 3px;
  flex-shrink: 0;
}
