.pageContainer {
  padding-top: 24px;
  padding-bottom: 24px;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.leftIcon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  cursor: pointer;
  flex-shrink: 0;
}
