.main {
  padding-top: 24px;
  padding-bottom: 24px;
}

.questionLink {
  text-decoration: none;
}

.questionContainer {
  padding: 16px 24px;
  box-shadow: rgba(102, 75, 255, 0.2) 0px 0px 6px;
  border-radius: 6px;
  margin-bottom: 16px;
  color: var(--dark-color);
  font-size: 14px;
  line-height: 18px;
}

.questionContainer:hover {
  color: var(--accent-color);
}

.tags {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.tagAll,
.tag {
  cursor: pointer;
  margin-bottom: 8px;
}

.tagAll,
.tag:not(:last-child) {
  margin-right: 12px;
}
