.logInButton {
  display: flex;
  justify-content: center;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 500;
  color: var(--grey-color);
  border: none;
  background: none;
  cursor: pointer;
}

.logInButton:hover {
  color: black;
}

.logInForm,
.signUpForm {
  display: flex;
  flex-direction: column;
}

.modal {
  width: 300px;
}

.logInLink,
.signUpLink {
  margin-top: 1.5rem;
}

.logInTitle,
.signUpTitle {
  margin-bottom: 1.5rem;
  color: var(--accent-color);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.logInError {
  margin-bottom: 1.5rem;
  color: red;
  font-size: 14px;
  line-height: 18px;
}

.signUpPending {
  display: flex;
  flex-direction: column;
}
.signUpPendingButton {
  margin-top: 1rem;
  align-self: flex-end;
}

.separator {
  margin: 2rem 0;
  border: solid 0.5px var(--grey-color);
  border-radius: 1rem;
}

.googleIcon {
  height: 100%;
  width: 100%;
  border: solid 2px white;
  background: white;
  border-radius: 4px;
  box-sizing: border-box;
}
