.main {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  max-width: 900px;
}

@media screen and (min-width: calc(900px + 2rem)) {
  .main {
    padding-left: 0;
    padding-right: 0;
  }
}
