.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 6px 28px 6px 8px;
  border-radius: 4px;
  min-width: 100px;
  font-size: 14px;
  line-height: 18px;
}

.dropdownArrow {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
