.main {
  padding: 6px 10px;
  background-color: white;
  border-radius: 8px;
  font-size: 14px;
  line-height: 18px;
}

.main--dark {
  color: var(--dark-color);
  border: solid 1px var(--dark-color);
}

.main--accent {
  color: var(--accent-color);
  border: solid 1px var(--accent-color);
}

.main--active {
  color: white;
}

.main--active.main--dark {
  background-color: var(--dark-color);
}

.main--active.main--accent {
  background-color: var(--accent-color);
}
